legend{
    color: blue;
}
button{
    width: 180px;
}
.class{
    margin-left: 30px;
}
.na{
    margin-left: 34px; 
}
#c{
    margin-left: 21px; 
}
.nep{
    margin-left: 36px;  
}
#k{
    margin-left: 18px;   
}