h2{
    color: rgb(109, 109, 109);
    margin-left: 80px;
}
.buttons{
    width: 100px;
    height: 25px;
}
#ln{
    margin-left: 20px;
}
.bb{
    width: 232px;
}
button{
    width: 232px;
    height: 30px;
    color: white;
    background-color: red;
}
fieldset{
    background-color: rgb(230, 230, 230);
    margin-right: 620px;
}